[
  {
    "name": "account-upsert",
    "filename": "account.csv",
    "object": "Account",
    "externalIdField": "ExternalId__c",
    "operation": "upsert",
    "mapping": {
      "RecordType.Name": "RecordType.Name"
    },
    "skipFields": ["AccountSource"]
  }
]
