[
  {
    "name": "account-upsert",
    "filename": "account.csv",
    "object": "Account",
    "externalIdField": "ExternalId__c",
    "operation": "upsert",
    "mapping": {
      "SourceColumnName": "TargetFieldName__c"
    },
    "skipFields": ["ColumnToExclude"],
    "rowTransform": "myFunctionName"
  }
]
